/*Colors and fonts*/

body {
	
background-color: #70D6FF;
    color: #EC4067;
    font-family:'El Messiri', sans-serif;;
    font-size: 30px;
    font height: 1.6;
    letter-spacing: 16 px;
    font-weight: 50px;
}
H1, H2 { font-family: arial;

}

H1 { color: #111D4A;
	font-weight:40px;

	font-size:30px;

}

H2 { color:#EC4067; 
	font-weight:40px;
	
	font-size:25px;

}

.container { 

	width: 700px
	margin: 50;

}

@media ( max-width:500px ) {
	.container{background-color: red

}

}

 a { text-decoration:none;
 	color:blue;

 }
 a:hover {color:black;

 }

p { text-justify: center;

  }

	
	div { background: black
		padding: 15px ;

		border-radius: 5px ;
		box-shadow: 15px 

	}

	

/* custom design with class */

.container {
	width: 700px;

	margin:30px auto;

}

.card-white {

	background: white
	padding : 30px;
	box-shadow: 400px
	border-radius: 4px;
}

.img-circle {

border-radius:50%;
}

.btn-blue {

	background-color: #EC4067;
	color: white;

padding:30px;
border-radius: 3px auto
}
.btn-blue:hover{background-color: #EC4067;
	color: white;

padding:30px;
border-radius: 3px auto

}
.list-inline{
	list-style: none
	padding-left:0px;
}
.list-inline li{
	padding: 30px
	display:inline;
}

.list-inline i { color: purple;
	font-size: 40px;

}
#introduction p { margin-bottom: 40px

}







